<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>USER-EDIT</title>
</head>
<body>

    <form th:action="@{/user-save}"
          th:object="${user}" method="POST">

        <table width="100%" cellspacing="10" cellpadding="10" border="1" style="border-collapse: collapse;">
            <tr>
                <td width="200" nowrap="nowrap">ID:</td>
                <td width="100%"><input type="text" th:field="*{id}" /></td>
            </tr>
            <tr>
                <td>
                    Login:
                </td>
                <td>
                    <input type="text" th:field="*{login}" />
                </td>
            </tr>
            <tr>
                <td>
                    First Name:
                </td>
                <td>
                    <input type="text" th:field="*{firstName}" />
                </td>
            </tr>
            <tr>
                <td>
                    Second Name:
                </td>
                <td>
                    <input type="text" th:field="*{lastName}" />
                </td>
            </tr>
            <tr>
                <td>
                    E-mail:
                </td>
                <td>
                    <input type="text" th:field="*{email}" />
                </td>
            </tr>
        </table>

        <br/>
        <button type="submit" style="font-size: 2em;" >SAVE</button>

    </form>

</body>
</html>